{% block subject %}
Your plan has been updated!
{% endblock %}
{% block body_html %}
<p>Hi {{ user.firstName }} {{ user.lastName }},<br>
<br>
Your plan has been set to <strong>{{ user.plan.name }}</strong> {% if user.plan.price > 0 %}for ${{ user.plan.price }}/month{% endif %}.<br>
<br>
--<br>
Thanks,<br />
The LeadCheckout Team<br />
<br />
-----------------------------------<br />
Go to your <a href="{{ url('avro_user_user_dashboard') }}">dashboard</a><br />
-----------------------------------
</p>
{% endblock %}

