<table class="table-styled table-striped table-bordered table-rounded">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for plan in plans %}
            <tr>
                <td>{{ plan.id }}</td>
                <td>{{ plan.name }}</td>
                <td>{{ plan.amount }}</td>
                <td>
                    {% if plan.isActive %}
                    <div class="btn-group">
                        <a href="{{ path('avro_stripe_plan_edit', {'id': plan.id}) }}" class="btn"><i class="icon-pencil"></i> Edit</a>>
                        <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('avro_stripe_plan_edit', {'id': plan.id}) }}"><i class="icon-pencil"></i> Edit</a></li>
                            <li><a id="deletePlan" href="{{ path('avro_stripe_plan_delete', {'id': plan.id}) }}"><i class="icon-remove"></i> Delete</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="100%">0 plans found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
